# Get your API key from https://openrouter.ai/
OPENROUTER_API_KEY=your_key_here
GOOGLE_CLIENT_ID=your_google_client_id
GOOGLE_CLIENT_SECRET=your_google_client_secret
MEALS_UPLOAD_DIR=your_meals_upload_dir_here
RESEND_API_KEY=your_resend_api_key_here


